* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.banner {
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content {
    width: 998px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.banner-title {
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
    color: rgba(13, 19, 33, 1);
}

.banner-description {
    text-align: center;
    color: rgba(13, 19, 33, 1);

}

.banner-btn{
    background-color: rgba(13, 19, 33, 1);
    padding: 24px 21px;
    border-radius: 8px;
}

.banner-btn a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
}

main{
    width: 90%;
    margin: auto;
    background-color: rgb(248, 248, 248);
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
}

.main-title, .inspiration-title, .target-title, .support-title{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 15px;
}

.main-subtitle, .inspiration-subtitle, .target-subtitle, .support-subtitle{
    text-align: center;
    margin-bottom: 30px;
}

.section-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#layer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.layer-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.layer-content h3{
    color: rgba(13, 19, 33, 0.7);
}

.learn-btn{
    width: 170px;
    height: 50px;
}

#inspiration, #target, #support{
    margin-top: 25px;
    padding-top: 25px;
}

iframe{
    width: 100%;
    border-radius: 10px;
    border: 10px solid white;
}


.card-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.card{
    background-color: white;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    height: 200px;
}

.move-left{
    margin-left: -10px;
}

.red{
    background-color: rgba(255, 0, 0, 0.1);
}

.blue{
    background-color: rgba(0, 0, 255, 0.1);
}

.yellow{
    background-color: rgba(255, 255, 0, 0.1);
}

.learn-more{
    color: rgba(13, 19, 33, 1);
    font-weight: bold;
}

#support{
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border-radius: 10px;
    color: white;
    opacity: 0.75;
    padding: 20px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input[type="text"]{
    width: 25%;
    height: 2rem;
}

input[type="submit"]{
    height: 2rem;
    width: 10%;
    font-weight: bold;
}